::selection {
    background: #fed9ca;
}

:focus-visible {
    outline: none;
}

.btn-light.focus {
    box-shadow: none !important;
}

.btn.focus {
    outline: 0;
    box-shadow: none !important;
}

body {
    font-family: Lora-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #747474;
    text-align: left;
    display: block;
    background-color: #fff;
    min-width: 320px;
}

.subheading {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    color: #9b9b9b;
    letter-spacing: 4px;
}

h1 {
    font-size: 100px;
    font-weight: 800;
    line-height: 1.15;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 85px;
    }
}

h2 {
    display: block;
    font-size: 2.4em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.5;
}

h5 {
    font-size: 1.312rem;
    color: #222222;
    line-height: 1.56;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    color: #222222;
    font-weight: 700;
}

h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #222222;
}

.p-large {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Lora-Regular, sans-serif;
    font-weight: 400;
    color: #747474;
    text-align: left;
    box-sizing: border-box;
    margin-top: 0;
    line-height: 1.75;
    width: 75% !important;
    font-size: 20px;
    margin-bottom: 0;
}

.highlight {
    position: relative;
    padding-left: .63rem;
    padding-right: .63rem;
}

.highlight::before {
    content: "";
    background: #fed9ca;
    position: absolute;
    left: 0;
    bottom: .29rem;
    width: 100%;
    height: 1.0rem;
    z-index: -1;
    box-sizing: border-box;
}

div {
    display: block;
}

.pale-pink {
    background: rgb(255, 252, 250);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

section {
    width: 100%;
    display: inline-block;
}

.section-paddingTop {
    display: block;
    padding-top: 54px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#about {
    margin-top: 12rem;
}

#resume,
#about {
    padding-bottom: 90px !important;
}

#projects {
    padding-bottom: 112px !important;
}

.title .title-clone {
    font-family: 'Ubuntu', sans-serif;
    color: #fbfbfb;
    position: absolute;
    right: -500px;
    bottom: 0px;
    z-index: -1;
    font-size: 27.25rem;
}

@media screen and (max-width: 900px) {
    .title .title-clone {
        right: 0px;
    }
}

a {
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

a:-webkit-any-link:focus-visible {
    outline-offset: 1px;
}

li {
    text-align: -webkit-match-parent;
}

ul,
ol {
    list-style: none;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

html {
    /*For smooth scrolling behavior*/
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.d-flex {
    display: flex !important;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1 {
    flex: 0 0 60%;
    max-width: 50%;
}

.col-2 {
    flex: 0 0 40%;
    max-width: 50%;
}

.col-3 {
    flex: 0 0 50%;
    max-width: 50%;
}

.a,
:after,
:before,
.transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/* #region - Header */

.main-menu {
    display: block;
}

.site-header {
    margin-bottom: 55px;
}

#navbar_top {
    background-color: #f7f7f7;
}

#navbarTogglerDemo03 .nav-item {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .81rem;
    padding: 0.05rem 0.5rem;
    line-height: 1.23;
}

#navbarTogglerDemo03 ul li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Lora-Regular, sans-serif;
    font-weight: 400;
    color: #747474;
    margin-top: 0;
    text-align: -webkit-match-parent;
    line-height: 1.23;
    list-style: none;
}


/* #region - Navigation bar for Large */

#menu {
    display: none;
}

#barBtn1,
#barBtn2 {
    outline: none;
    border: none;
    background: transparent;
}

#bar2 {
    display: none;
}

.fa-bars {
    color: #929191;
}

.position-relative {
    position: relative !important;
}

.bar-Icon {
    padding-right: 5%;
}

#navbar-container {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* #endregion */


/* #endregion */


/*#region - About section*/

.about-info li {
    display: flex;
    margin-bottom: 15px;
    text-align: -webkit-match-parent;
}

.about-info li span:first-child {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    width: 130px;
}

.about-details p {
    width: 90%;
    line-height: 1.7em
}

#portrait {
    max-width: 100%;
    height: auto;
}

#cv-download-btn {
    background: #e6c4BB;
    border-color: #e6c4BB;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s;
    border-radius: 30px;
    padding: 13px 43px;
    display: inline-block;
    /* padding: 1em 2em; */
    border: none;
    text-align: center;
    color: white;
    background: red;
    /* default color */
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #e6c4BB 50%, #888888 50%) right;
    background-size: 200%;
    transition: .4s linear;
}

#cv-download-btn:hover {
    background-position: left;
}

#cv-download-btn:focus {
    outline: none;
    box-shadow: none;
}


/* #endregion */


/* #region - Resume section */

.page {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.625em;
}

.page .heading {
    font-weight: 700;
    margin-bottom: 30px;
}

.page .resume-wrap {
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(255, 249, 247);
    padding: 40px 30px;
    border-radius: 10px;
}

.page .resume-wrap:hover {
    background: #e6c4BB;
    color: #ffffff;
}

.page .resume-wrap:hover h4,
.page .resume-wrap:hover .date {
    color: #fff;
}

.page .resume-wrap:hover .icon {
    background: #fff;
}

.page .resume-wrap:hover .icon .fa {
    color: #e6c4BB;
}

.page .resume-wrap .date {
    font-weight: 700;
    font-size: 16px;
    color: #222222;
}

.page .resume-wrap .position {
    display: inline-block;
    margin-bottom: 10px;
}

.page .resume-wrap h4 {
    font-size: 20px;
    font-weight: 700;
}

.page .resume-wrap .text {
    width: calc(100% - 100px);
    padding: 0 0 10px;
}

.page .resume-wrap .icon {
    width: 50px;
    height: 50px;
    background: #eaccc0;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #eaccc0;
    border-radius: 50%;
}

.page .resume-wrap .icon span {
    color: #fff;
    font-size: 20px;
}

.fa-graduation-cap {
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-variant: normal;
}

.progress-wrap {
    width: 100%;
    margin-bottom: 30px;
}

.progress-wrap h5 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}

.progress-bar span {
    position: absolute;
    top: -38px;
    right: 0;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.progress {
    height: 6px;
    background: #e6e6e6;
    overflow: visible;
}

.progress-bar {
    background: #caa3a2;
    position: relative;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    position: relative;
    overflow: visible;
    border-radius: 2px;
}

#navi li a {
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#navi li a.active {
    color: #e4ccc0;
    margin-left: 20px;
    /*like insert a tab*/
    position: relative;
}

#navi li a.active::after {
    /*a bullet*/
    position: absolute;
    top: 50%;
    left: -24px;
    width: 20px;
    height: 2px;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #e4ccc0;
}

#navi {
    top: 180px;
    position: -webkit-sticky;
    position: sticky;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.625em;
}

#navi li {
    font-weight: 700;
    margin-bottom: 10px;
}


/* #endregion */


/* #region - Projects section v0 */

.single-work:hover .overlay {
    top: 20px;
    background: #727272;
    left: 20px;
}

.single-work .overlay {
    position: absolute;
    left: 0;
    opacity: 0.7;
    top: 0;
    height: 100%;
    width: 100%;
}

.single-work:hover .short-info {
    bottom: 24px;
    left: 60px;
    opacity: 0.8;
    visibility: visible;
}

.single-work .short-info {
    position: absolute;
    bottom: 44px;
    font-size: 14px;
    left: 80px;
    color: #ffffff;
    opacity: 0;
    visibility: hidden;
}

.single-work {
    margin-bottom: 30px;
}

.project-description {
    line-height: 1.75;
    font-size: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.short-info h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.single-work img {
    width: 400px;
    height: auto;
    vertical-align: middle;
    /* border-style: none; */
}


/* #endregion */


/* #region - Footer */

footer {
    background-color: #fff;
    display: block;
}

.no-space {
    line-height: 0;
}

footer .wrapper {
    padding-top: 3.07rem;
    padding-bottom: 3.07rem;
    max-width: 1920px;
    margin: auto;
}

.wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

footer .wrapper .copyright {
    text-align: center;
}

footer .wrapper .copyright {
    text-align: center;
}


/* #endregion */


/* #region - University Student Admission System Page*/

a,
a:hover {
    color: #2b2b2b;
    text-decoration: none;
    background-color: transparent
}

ul {
    list-style: none;
    margin-left: 1.3rem;
    padding: 0;
    padding-left: 0px;
}

ul li:before {
    content: "\2022";
    color: #fed9ca;
    font-weight: 700;
    width: 1rem;
    margin-left: -1.3rem;
    display: block;
    height: 0;
    width: 0;
    margin-top: -.24em;
    padding-left: 0px !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul li {
    font-family: Lora-Regular, sans-serif;
    line-height: 1.23;
    margin-bottom: 1.39rem;
}

.technologies li span:first-child {
    font-weight: 700;
}

h3.small {
    font-size: 1.8em;
    margin-bottom: 1.49rem;
    line-height: 1.21;
    font-weight: bold;
    display: block;
}

@media (max-width: 575px) {
    .site-header.project-page {
        margin-bottom: 0px !important;
    }
}

/* #endregion */


/* #region - Projects section v1*/

.card {
    height: 100%;
}

.card-post {
    background-color: #fff;
    border: 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border-radius: 0;
}

.card-post .img,
.card-post .img:hover,
.transition-opacity {
    transition: opacity .3s ease;
}

.card a,
.card a:hover {
    transition: all .3s ease;
}

.card a:hover {
    text-decoration: none;
    opacity: .8;
}

.card-post .img {
    opacity: .34;
}

.card-post .img,
.card-post .img:hover,
.transition-opacity {
    transition: opacity .3s ease;
}

.card-post .img:hover {
    opacity: 1;
}

.img.object-fit {
    position: relative;
}

.img.object-fit:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
}

.card-post .img.object-fit:before {
    padding-top: 95%;
}

.img.object-fit .object-fit-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
}

.img.object-fit .object-fit-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.card-post .card-category {
    font-family: 'Ubuntu-Bold', sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 2.25rem 2.25rem;
}

.card-post .card-category a.btn,
.card-post .card-category a.btn:hover {
    background-color: #fff;
    border-color: #fff;
}

.card-post .card-category a:last-child {
    margin-right: 0;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: .81rem;
    padding: 1.56rem 4.75rem;
    line-height: 1.23;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-light,
.btn.btn-light:hover {
    color: #2b2b2b;
}

.btn.btn-sm {
    padding: 0.81rem 1.69rem;
}

.transform-scale-h {
    display: inline-block;
    transform: perspective(1px) scale(1) translateZ(0);
    backface-visibility: hidden;
    transition: opacity .3s ease;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.transform-scale-h:hover,
nav.menu-primary ul li.menu-item-has-children span.icon-c:hover {
    transform: perspective(1px) scale(1.1) translateZ(0);
}

.btn:after,
.btn:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
}

.btn:before {
    margin-top: -0.24em;
}

.btn:after {
    margin-bottom: -0.2em;
}

.overflow-hidden {
    overflow: hidden !important;
}

.position-relative {
    position: relative !important;
}

.card-post .card-body {
    padding: 0px 27px;
}

.border {
    border: 1px solid #f3f3f3!important
}

@media (max-width: 575px) {
    #projects .row>[class*=col-] {
        padding-bottom: 1.25rem;
    }
}

.card-title p {
    color: #555;
    font-size: 16px;
}


/* #endregion */
